[submodule "Pokemon-Battle"]
	path = Pokemon-Battle
	url = https://github.com/austinkemper/Pokemon-Battle.git
[submodule "TileSolverFrontend"]
	path = TileSolver
	url = https://github.com/austinkemper/TileSolverFrontend
