[submodule "Pokemon-Battle"]
	path = Pokemon-Battle
	url = https://github.com/austinkemper/Pokemon-Battle.git
[submodule "TilePuzzle"]
	path = TileSolverFrontend
	url = https://github.com/austinkemper/TileSolverFrontend
