
body {
	padding: 0px;
	margin: 0px;
	background-color: lightgrey;
}

#bio {
	margin: 5px;
	padding: 10px;
	width: 50%;
	font-size: 110%;
}

#headshot {
	border-radius: 2%;
	height: 300px;
}


#links {
	margin-left: 30px;
	text-align: middle;
	float: right;
	margin-top: 30px;
	margin-right: 10%;
}

#links li {
	padding: 10px 0px;
}

#links #resume {
	list-style-image: url('../images/resumeIcon.png');
}
#links #github {
	list-style-image: url('../images/github.png');
}

#links #linkedin {
	list-style-image: url('../images/linkedin.png');
}

#links #email {
	list-style-image: url('../images/email.png');
}

#projects {
	margin: 0px;
	border-top: 1px dashed black;
	text-align: center;
	background-color: white;
}

#projects h1 {
	font-size: 250%;
}

#android {
	margin-top: 50px;
}


/* Apps */
#apptable {
	border-spacing: 30px;
	margin: auto;
}
#apptable h3 {
	color: black;
}
#apptable img {
	width: 150px;
}

#apptable .tablecell {
	padding: 15px;
	border: 3px solid lightgrey;
	border-radius: 10%;
}

/* Generic table stuff */
.table {
	display: table;
}

.tablerow {
	display: table-row;
}

.tablecell {
	display: table-cell;
}
