
#headshot {
	height: 300px;
	overflow: hidden;
}

#bio {
	text-align: center;
}
#intro {
}

#links {
	position: absolute;
	right: 5px;
}
#links a {
	width: 180px;
}


#projects img {
	width: 250px;
}
/* Projects */
#projects {
	text-align: center;
}


